<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>승우의 캘린더</title>
        <th:block th:replace="common/config :: Config" ></th:block>
    </head>

    <th:block>
        <th:block th:include="common/alert/success :: successAlert"></th:block>
        <th:block th:include="common/alert/fail :: failAlert"></th:block>
        <th:block th:include="common/alert/info :: infoAlert"></th:block>
        <th:block th:include="common/alert/warning :: warningAlert"></th:block>
    </th:block>
</html>