<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="addTarget">
    <div class="modalBackGround-target hidden z-[99999]">
        <div class="target">
            <div id="modal-title" class="h-[25%] w-full font-bold text-[25px]">타이틀</div>
            <div id="modal-content" class="h-[50%] w-full pt-[8%]">
                <div id="list-one" class="flex mb-[20px]">
                    <div id="target-title" class="h-[40%] w-[20%] flex justify-center items-center">목표</div>
                    <input id="target-title-value" class="h-[40%] w-[80%]" style="border-bottom: 1px solid var(--main-color-2);" />
                </div>
                <div id="list-two" class="flex">
                    <div id="target-year" class="h-[40%] w-[20%] flex justify-center items-center">연도</div>
                    <select id="year_select" class="mr-[15%]"></select>
                    <select id="month-select" class="hidden">
                        <option value="1">1월</option>
                        <option value="2">2월</option>
                        <option value="3">3월</option>
                        <option value="4">4월</option>
                        <option value="5">5월</option>
                        <option value="6">6월</option>
                        <option value="7">7월</option>
                        <option value="8">8월</option>
                        <option value="9">9월</option>
                        <option value="10">10월</option>
                        <option value="11">11월</option>
                        <option value="12">12월</option>
                    </select>
                </div>
            </div>
            <div class="modal-btn h-[17%] flex flex-row w-full justify-end">
                <!-- button -->
                <button class="modal-btn-add cursor-pointer justify-center items-center inline-flex py-[7px] px-[20px] box-border rounded-[5px] text-[#B02318] border-[#B02318] border-solid border-[1px]">
                    <span class="w-[70px] text-[12px]">등록</span>
                </button>
                <button class="modal-btn-cancel cursor-pointer justify-center items-center inline-flex py-[7px] px-[20px] box-border rounded-[5px] ml-[4px] text-[#515B68] border-[#515B68] border-solid border-[1px]">
                    <span class="w-[70px] text-[12px]">취소</span>
                </button>

            </div>
        </div>
    </div>

    <style>
        .modal-btn-add:hover {
            background-color: rgba(171, 36, 32, 0.1);
        }

        .modal-btn-cancel:hover {
            background-color: rgba(82, 92, 103, 0.1);
        }

        .modalBackGround-target {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(5px);
            background: rgba(55, 55, 55, 0.5);
        }

        .target {
            padding: 30px;
            width: 70%;
            height: 40%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFFFFF;
            z-index: 9999;
            border-radius: 20px
        }

    </style>

    <script>
        let nowType;
        let nowDate = new Date();
        let nowMonth = nowDate.getMonth() + 1;
        function openAddTargetModal(title, type) {
            CHOI.blockScroll();
            nowType = type;
            if(type === 'M') {
                $('#month-select').val(nowMonth).prop("selected", true);
                $('#month-select').removeClass('hidden');
            }
            else {
                $('#month-select').addClass('hidden');
            }
            $('.target > #modal-title').html(title);
            $('.modalBackGround-target').removeClass('hidden');
        }

        $('.modal-btn-add').on('click', function () {
            let title = $('#target-title-value').val();
            let year = $('#year_select').val();
            let month = nowType === 'M' ? $('#month-select').val() : undefined;

            let url = '/calender/target/add';
            let data = { title: title, type: nowType, year: year, month: month };

            CHOI.post(url, data)
            .then(function (response) {
                if(response.result === "0000") {
                    console.log(response);
                    openSuccesAlert(response.value);
                    $('#target-title-value').val('');
                    $('#year_select').val(new Date().getFullYear());
                    $('#month-select').val(nowMonth).prop("selected", true);
                } else {
                    openErrorAlert(response.value);
                }
            }).catch(function (error) {
                console.error(error);
            });

            $('.modalBackGround-target').addClass('hidden');
        });

        $('.modal-btn-cancel').on('click', function () {
            $('.modalBackGround-target').addClass('hidden');
        });

        document.addEventListener("DOMContentLoaded", function() {
            // 현재 년도 구하기
            const currentYear = new Date().getFullYear();

            // 셀렉트 박스 요소 찾기
            const year_select = document.getElementById("year_select");

            // 현재 년도부터 2100년까지 셀렉트 박스에 추가
            for (let year = currentYear; year <= 2100; year++) {
                const option = document.createElement("option");
                option.value = year;
                option.text = year;
                year_select.add(option);
            }
        });
    </script>
</th:block>
</html>