<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="userSearch">
    <div class="modalBackGround hidden">
        <div class="userSearch">
            <div class="flex flex-col pb-[8px] pl-[40px]">
                <div class="flex justify-between mb-[50px]">
                    <p class="font-semibold text-[24px] m-[0px]">사용자 추가</p>
                    <img src="/img/common/close.png" id="closeBtn" class="w-[24px] h-[24px] mr-[10px] cursor-pointer" style="margin-top: 7px;">
                </div>
                <div class="flex flex-row justify-center items-center">
                    <img src="/img/common/reading_glasses.png" class="w-[24px] h-[24px] mr-[10px]">
                    <input name="search" id="search" placeholder="검색어를 입력해주세요." onkeyup="if(window.event.keyCode==13){alert('검색했음');}" class="w-[72%] h-[38px] border-b border-solid border-[#AAAAAA] focus:border-b-[2px] focus:border-b-[#515B68]">
                </div>
            </div>
            <div class="flex flex-col pb-[8px] pl-[40px] overflow-x-auto ">
                <table class="table-auto !w-full pr-[32px]" cellpadding="24px">
                    <thead>
                    <tr class="text-[14px] text-[#222222] text-left whitespace-nowrap">
                        <th class="min-w-[100px] pb-[24px]">No</th>
                        <th class="min-w-[120px] pb-[24px]">회사명</th>
                        <th class="min-w-[120px] pb-[24px]">프로젝트명</th>
                        <th class="min-w-[180px] pb-[24px]">시작일</th>
                        <th class="min-w-[120px] pb-[24px]">종료일</th>
                        <th class="min-w-[87px] pb-[24px]">담당자</th>
                        <th class="min-w-[140px] pb-[24px] whitespace-nowrap">연락처</th>
                        <th class="min-w-[200px] pb-[24px] whitespace-nowrap">개발 담당자</th>
                        <th class="min-w-[136px] pb-[24px]">상태</th>
                        <th class="min-w-[136px] pb-[0px] flex flex-col">
                            <span>선택</span>
                            <input type="checkbox" id="modal_checkbox_all" class="checkbox modal_checkbox w-[15px] h-[15px] rounded ml-[5px]">
                        </th>
                    </tr>
                    </thead>
                    <tbody class="upload-schedule-list">
                    <tr class="border-t-[#F8F8F8] border-t-[1px]">
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">4</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">중견기업</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">중견기업</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2023. 01. 01</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2023. 03. 01</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">담당자</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">010-0000-0000</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">개발자</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border text-[#ED1515]">협의중</td>
                        <td class="text-[#222222] text-[14px] pt-[15px] pb-[10px] box-border"><input type="checkbox" class="checkbox modal_checkbox w-[15px] h-[15px] rounded ml-[5px]" name="checkbox" id="checkbox_4" value="4" ></td>
                    </tr>
                    <tr class="border-t-[#F8F8F8] border-t-[1px]">
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">3</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">FGI</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">한국 생명의 전화</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2023. 07. 01</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2023. 08. 01</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">담당자</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">010-0000-0000</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">개발자</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border text-[#3BB938]">진행중</td>
                        <td class="text-[#222222] text-[14px] pt-[15px] pb-[10px] box-border"><input type="checkbox" class="checkbox modal_checkbox w-[15px] h-[15px] rounded ml-[5px]" name="checkbox" id="checkbox_3" value="3"></td>
                    </tr>
                    <tr class="border-t-[#F8F8F8] border-t-[1px]">
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">EBC</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">한화금융생명</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2022. 07. 01</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2023. 08. 01</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">담당자</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">010-0000-0000</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">개발자</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border text-[#235392]">유지보수</td>
                        <td class="text-[#222222] text-[14px] pt-[15px] pb-[10px] box-border"><input type="checkbox" class="checkbox modal_checkbox w-[15px] h-[15px] rounded ml-[5px]" name="checkbox" id="checkbox_2" value="2"></td>
                    </tr>
                    <tr class="border-t-[#F8F8F8] border-t-[1px]">
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">1</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">XE</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">CMS</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2022. 07. 01</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">2023. 01. 01</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border">담당자</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">010-0000-0000</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border whitespace-nowrap">개발자</td>
                        <td class="text-[#222222] text-[14px] py-[14px] box-border text-[#515B68]">완료</td>
                        <td class="text-[#222222] text-[14px] pt-[15px] pb-[10px] box-border"><input type="checkbox" class="checkbox modal_checkbox w-[15px] h-[15px] rounded ml-[5px]" name="checkbox" id="checkbox_1" value="1"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <style>
        .modalBackGround {
            position: absolute;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(5px);
            background: rgba(55, 55, 55, 0.3);
        }

        .userSearch {
            padding: 30px;
            width: 70%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFFFFF;
            z-index: 9999;
        }

    </style>

    <script>
        function openUserSearchModal() {
            XE.blockScroll();
            $('.modalBackGround').removeClass('hidden');

            // setTimeout(() => $('.alert-error').addClass('hidden'), 3300);
        }

        $(function () {
            $('.userSearch').on('click', function (event) {
                event.stopPropagation();
            });

            $('.modalBackGround').on('click', function () {
                $(this).addClass('hidden');
            });

            $('#modal_checkbox_all').on('click', function() {
                if($('#modal_checkbox_all').is(':checked')) $('.modal_checkbox').prop("checked", true);
                else $('.modal_checkbox').prop("checked", false);
            });

            $('#closeBtn').on('click', function (event) {
                $('.modalBackGround').addClass('hidden');
            });
        });
    </script>
</th:block>
</html>