* {
    width: 100%;
    color: var(--calender-color);
}

#over-view {
    padding: 2%;
    background-color: var(--main-color-4);
}
#detail-information {
    height: 20%;
    display: flex;
}

#content {
    height: 60%;
}

.text-title {
    height: 10%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#detail-information > .left > div {
    display: flex;
    align-items: center;
}

#detail-information > .left > #weather {
    height: 40%;
}

#detail-information > .left > #emotion {
    height: 40%;
}

#detail-information > .left > #emotion > div {
    width: 15%;
    height: 100%;
    margin-right: 2%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#detail-information > .left > #emotion > div:last-child {
    margin-right: 0;
}


#detail-information > #day-list {
    height: 100%;
    overflow-y: scroll;
}

#detail-information > #day-list > table > tbody > tr {
    height: 25%;
}

#detail-information > #day-list > table > tbody > tr > th:first-child {
    width: 25%;
}

#detail-information > #day-list > table > tbody > tr > th:last-child {
    width: 25%;
    cursor: pointer;
}

#content > textarea {
    height: 90%;
    border: 1px solid var(--calender-color);;
    padding: 15px;
    resize: none;
}

.text-title > .btn {
    width: 20%;
    height: 70%;
    font-size: 16px;
    background-color: var(--main-color-1);
    color: var(--main-color-4);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-btn {
width: 5%;
display: flex;
justify-content: flex-end;
align-items: center;
cursor: pointer;
}

#save-btn {
background: var(--main-color-1);
color: var(--main-color-4);
width: 15%;
height: 100%;
border-radius: 5px;
}

.angry {
background: url("../img/emotion/angry.png");
}

.angry-select {
background: url("../img/emotion/angry-select.png");
}

.cry {
background: url("../img/emotion/cry.png");
}

.cry-select {
background: url("../img/emotion/cry-select.png");
}

.disbelief {
background: url("../img/emotion/disbelief.png");
}

.disbelief-select {
background: url("../img/emotion/disbelief-select.png");
}

.happy {
background: url("../img/emotion/happy.png");
}

.happy-select {
background: url("../img/emotion/happy-select.png");
}

.love {
background: url("../img/emotion/love.png");
}

.love-select {
background: url("../img/emotion/love-select.png");
}

.tired {
background: url("../img/emotion/tired.png");
}

.tired-select {
background: url("../img/emotion/tired-select.png");
}

.checkbox {
    accent-color: var(--main-color-1);
}