#over-view {
    display: inline-flex;
}

#left-view {
    background-color: var(--main-color-1);
    width: 35%;
    height: 100%;
    text-align: center;
}

#left-view > .main {
    width: 80%;
    height: 88%;
    margin: 10%;
}

#right-view {
    width: 65%;
    display: inline-block;
    padding: 20px;
    background-color: var(--main-color-4);
    color: var(--calender-color);
}

#right-view > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    text-align: center;
    font-size: 26px;
}

#right-view > .link {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 10%;
}

#right-view > .link > a {
    display: flex;
    margin: 0px 10px;
    height: 50%;
    align-items: center;
    justify-content: center;
}

#right-view > .link > a > img {
    width: 22px;
    margin-right: 5px;
}

.month-button {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 40px;
    cursor: pointer;
}
#year-list {
    height: 25%;
    color: var(--text-color);
}

.add-target {
    width: 120px;
    height: 7%;
    border: 1px solid var(--main-color-4);
    border-radius: 3px;
}

.main > .targer-title {
    height: 8%;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

#year-list > .year-list-detail {
    cursor: pointer;
}

.cancel {
    text-decoration: line-through;
}

.event-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5%;
}

.add-event {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 3px;
}