/*@import 'variables.css';*/
:root {
    --main-color-1: rgba(136, 171, 142, 1);
    --main-color-2: rgba(175, 200, 173, 1);
    --main-color-3: rgba(238, 231, 218, 1);
    --main-color-4: rgba(242, 241, 235, 1);

    --font: SOYOMapleBoldTTF;
    --text-color: rgba(55, 55, 55, 1);
    --calender-color: rgba(100, 100, 100, 1);
    --calender-sat-color: rgba(34, 129, 208, 1);
    --calender-sun-color: rgba(220, 134, 134, 1);;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; }*/

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

#main-view {
    width: 94%;
    height: 90%;
    padding: 3%;
}

#over-view {
    display: inline-flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#left-view {
    background-color: var(--main-color-1);
    width: 35%;
    height: 100%;
    text-align: center;
}

#left-view > .main {
    width: 80%;
    height: 88%;
    margin: 10%;
}

#right-view {
    width: 65%;
    display: inline-block;
    padding: 20px;
    background-color: var(--main-color-4);
    color: var(--calender-color);
}

#right-view > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    text-align: center;
    font-size: 28px;
}

#right-view > .link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#right-view > .link > a {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

#right-view > .link > a > img {
    width: 22px;
    margin-right: 5px;
}

.month-button {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 40px;
    cursor: pointer;
}
#year-list {
    color: var(--text-color);
}

#year-list > .year-list-detail {
    cursor: pointer;
}

.cancel {
    text-decoration: line-through;
}