:root {
    --main-color-1: rgba(136, 171, 142, 1);
    --main-color-2: rgba(175, 200, 173, 1);
    --main-color-3: rgba(238, 231, 218, 1);
    --main-color-4: rgba(242, 241, 235, 1);

    --font: SOYOMapleBoldTTF;
    --text-color: rgba(55, 55, 55, 1);
    --calender-color: rgba(100, 100, 100, 1);
    --calender-sat-color: rgba(34, 129, 208, 1);
    --calender-sun-color: rgba(220, 134, 134, 1);;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}