#weather {
    width: 100%;
    height: 60%;
}

#weather > * {
    width: 100%;
    font-size: 22px;
}

#weather > .date {
    font-size: 28px;
    height: 60px;
}

#weather > .position {
    font-size: 28px;
    height: 60px;
}

#weather > .weather-ico > image {
    width: 100px;
}

#weather > .weather-ico {
    display: flex;
    justify-content: center;
    align-items: center;
}
