<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승우의 캘린더</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/calender.css" />
    <link rel="stylesheet" href="/static/css/weather.css" />

    <script src="/static/js/calender.js"></script>
    <script src="/static/js/weather.js"></script>
</head>
<script>

</script>

<body>
    <div id="main-view">
        <div id="over-view">
            <div id="left-view">
                <div class="main">
                    <div id="weather">
                        <h4 class="date"></h4>
                        <h3 class="position"></h3>
                        <h3 class="weather-ico"></h3>
                        <h3 class="temperatures"></h3>
                    </div>
                    <div id="year-list">
                        <div class="year-list-detail cancel">퇴사하기</div>
                        <div class="year-list-detail cancel">좋은 공부 프로그램 합격</div>
                        <div class="year-list-detail">정보처리기사 자격증 합격</div>
                        <div class="year-list-detail">학사 학위 취득</div>
                    </div>
                </div>
            </div>
            <div id="right-view">
                <div class="title">한달 뒤 나에게 물어보자,<br> 오늘의 감정은 기억나지 않는다.</div>
                <div id="calendar"></div>
                <div class="link">
                    <a class="naver-blog" href="https://blog.naver.com/choiseungwoo98" target='_blank'><img src="/static/img/brand/naver.png">네이버 블로그</a>
                    <a class="git-blog" href="https://choiseungwoo98.github.io/" target='_blank'><img src="/static/img/brand/git-pages.png">개발 블로그</a>
                    <a class="git" href="https://github.com/ChoiSeungWoo98" target='_blank'><img src="/static/img/brand/git.png">git</a>
                    <a class="youtube" href="https://www.youtube.com/@user-db6vt3rd1e" target='_blank'><img src="/static/img/brand/youtube.png">유튜브</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>