<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승우의 캘린더</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/calender.css" />

    <script src="/static/js/calender.js"></script>
    <script src="/static/js/weather.js"></script>
</head>
<script>

</script>

<body>
    <div id="main-view">
        <div id="over-view">
            <div id="left-view">
                <div class="main">
                    <div id="weather">
                        <span class="nowtime"></span>
                        <h3 class="position">지역명</h3>
                        <h3 class="SeoulIcon"></h3>
                        <h3 class="SeoulNowtemp">현재기온:</h3>

                    </div>
                    <div id="year-list">
                        <div class="year-list-detail cancel">퇴사하기</div>
                        <div class="year-list-detail cancel">좋은 공부 프로그램 합격</div>
                        <div class="year-list-detail">정보처리기사 자격증 합격</div>
                        <div class="year-list-detail">학사 학위 취득</div>
                    </div>
                </div>
            </div>
            <div id="right-view">
                <div class="title">한달 뒤 나에게 물어보자,<br> 오늘의 감정은 기억나지 않는다.</div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</body>
</html>