<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>

<th:block layout:fragment="content">
    <div id="main-view">
        <div id="over-view">
            <div id="date-info" class="text-title">
                <div th:text="${year} + '년 ' + ${month} + '월 ' + ${day} + '일 ' + ${weekDay}"></div>
                <input id="date-value" class="hidden" th:value="${year} + '-' + ${month} + '-' + ${day} + '-' + ${weekDay}"/>
                <div id="add-todo" class="btn">오늘의 일정 등록</div>
<!--                <div id="back-btn">></div>-->
            </div>
            <div id="detail-information">
                <div class="left">
                    <th:block th:if="${diary == null}">
                        <div id="weather"><h5 class="weather-txt">날씨 : <span id="weather-value">불러오는 중</span> ( <span class="temp">0</span> °C)</h5></div>
                    </th:block>
                    <th:block th:if="${diary != null}">
                        <div id="weather"><h5 class="weather-txt">날씨 : <span th:text="${diary.weather}"></span> ( <span th:text="${diary.temp}"></span> °C)</h5></div>
                    </th:block>
                    <div id="emotion" class="flex-wrap">
                        <div class="happy" data-value="happy"></div>
                        <div class="angry" data-value="angry"></div>
                        <div class="cry" data-value="cry"></div>
                        <div class="neutral" data-value="neutral"></div>
                        <div class="shy" data-value="shy"></div>

                        <div class="sleep" data-value="sleep"></div>
                        <div class="sick" data-value="sick"></div>
                        <div class="disbelief" data-value="disbelief"></div>
                        <div class="thinking" data-value="thinking"></div>
                        <div class="love" data-value="love"></div>
                    </div>
                </div>
                <div id="day-list">
                    <table>
                        <tbody>
                            <th:block th:each="list : ${todoList}">
                            <tr th:value="${list.no}">
                                <th th:text="${list.time}"></th>
                                <th th:text="${list.title}"></th>
                                <th:block th:if="${list.successYn eq 'Y'}">
                                    <th><input type="checkbox" class="checkbox w-[15px] h-[15px] rounded ml-[5px]" th:value="${list.no}" checked></th>
                                </th:block>
                                <th:block th:if="${list.successYn eq 'N' || list.successYn == null}">
                                    <th><input type="checkbox" class="checkbox w-[15px] h-[15px] rounded ml-[5px]" th:value="${list.no}"></th>
                                </th:block>
                            </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-title ">
                <div>하루 정리</div>
                <button id="add-img" class="btn" >등록</button>
                <form id="fileForm" method="post" enctype="multipart/form-data" class="hidden">
                    <input type="file" name="file" accept="image/*,video/*" id="diary-file" class="hidden" multiple/>
                </form>
            </div>
            <div id="content">
                <textarea id="content-value" placeholder="오늘의 하루는 잘 보내셨나요? &#13;&#10;고생하셨습니다.&#13;&#10;오늘 하루를 잘 정리하고 내일도 화이팅입니다!" th:text="${diary?.content}"></textarea>
                <div style="display: flex; align-items: center; justify-content: flex-end; height: 10%;">
                    <th:block th:if="${diary != null}">
                        <button id="modify-btn">수정</button>
                    </th:block>
                    <th:block th:if="${diary == null}">
                        <button id="save-btn">등록</button>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="components">
    <th:block th:include="common/modal/addTodo :: addTodo"></th:block>
</th:block>

<script layout:fragment="script">
    var inputFileInfos = [];
    var diaryNo = '[[${diary?.no}]]'.trim();

    $('#emotion > div').on('click', function () {
        var $this = $(this);
        var currentClass = $this.attr('class');

        if (currentClass.includes('-select')) {
            var newClass = currentClass.replace('-select', '');
            $this.addClass(newClass);
            $this.removeClass(currentClass);
        } else {
            let newClass = currentClass + '-select'
            $this.addClass(newClass);
            $this.removeClass(currentClass);
        }
    });

    $('.checkbox').on('click', function () {
        if(diaryNo == null) {
            openErrorAlert('일기 저장 후 목표 달성을 수정하실 수 있습니다.');
            return ;
        }

        var successYn = $(this).prop("checked") ? 'Y' : 'N';
        var targetNo = $(this).val();


        let url = '/calender/targer/insert/todo/successYn';
        let data = {targetNo: targetNo, diaryNo: diaryNo, successYn: successYn};

        CHOI.post(url, data)
            .then(function (response) {
                if (response.result === "0000") {
                    openSuccesAlert(response.value);
                } else {
                    openErrorAlert(response.value);
                }
            }).catch(function (error) {
            console.error(error);
        });
    });

    $('#save-btn').on('click', function () {
        let splitArray = $('#date-value').val().split('-');

        let diaryDate = splitArray.slice(0, -1).join('-');
        let dayOfWeek = splitArray.slice(-1)[0];
        let weather = $('#weather-value').html();
        let temp = $('.temp').html();
        let emotions = [];
        let content = $('#content-value').val();

        $('#emotion').find('div[class*="-select"]').each(function() {
            var value = $(this).data('value');
            emotions.push(value);
        });

        let url = '/calender/diary/add';
        let data = { diaryDate: diaryDate, dayOfWeek: dayOfWeek, weather: weather, temp: temp, emotions: emotions, content: content };

        CHOI.post(url, data)
        .then(function (response) {
            if(response.result === "0000") {
                openSuccesAlert(response.value);
                setInterval(function () {
                    location.reload();
                }, 3000)
            } else {
                openErrorAlert(response.value);
            }
        }).catch(function (error) {
            console.error(error);
        });
    });

    $('#modify-btn').on('click', function () {
        if(diaryNo == null) {
            openErrorAlert('일기 번호가 유실되었습니다. 다시 시도해주세요.');
            return ;
        }

        let emotions = [];
        let content = $('#content-value').val();

        $('#emotion').find('div[class*="-select"]').each(function() {
            var value = $(this).data('value');
            emotions.push(value);
        });

        let url = '/calender/diary/modify';
        let data = { no: diaryNo, emotions: emotions, content: content };

        CHOI.put(url, data)
        .then(function (response) {
            if(response.result === "0000") {
                openSuccesAlert(response.value);
                setInterval(function () {
                    location.reload();
                }, 3000)
            } else {
                openErrorAlert(response.value);
            }
        }).catch(function (error) {
            console.error(error);
        });
    });

    $('#add-todo').on('click', async function () {
        let title = 'TO-DO를 등록해보세요.'
        openAddTodo(title);
    });

    $('#back-btn').on('click', function () {
        history.back();
    });

    $('#add-img').on('click', function () {
        $('#diary-file').click();
    });

    function onFileSelected(files) {
        if (files.length === 0) return;

        if(diaryNo == null) {
            openErrorAlert('일기 저장 후 파일을 등록할 수 있습니다.');
            return ;
        }

        let url = '/calender/diary/add/file';
        let fileData = new FormData($('#fileForm')[0]);
        fileData.append('no', diaryNo);

        CHOI.post(url, fileData, 'file')
            .then(function (response) {
                if (response.result === "0000") {
                    openSuccesAlert(response.value);
                } else {
                    openErrorAlert(response.value);
                }
            }).catch(function (error) {
            console.error(error);
        });
    }

    $('#diary-file').on('change', function (event) {
        onFileSelected(event.target.files);
    });

    $(document).ready(function () {
        let getEmotions = '[[${diary?.emotions}]]'.trim();
        if(getEmotions.length != 0) {
            getEmotions = getEmotions.replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',');
            getEmotions.forEach(emotion => {
                let active_emotion = $('.' + emotion);
                active_emotion.addClass(emotion + '-select');
                active_emotion.removeClass(emotion);
            });
        }
    });
</script>
<style layout:fragment="style">
</style>
</html>