<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>

<th:block layout:fragment="content">
    <div id="main-view">
        <div id="over-view">
            <div id="date-info" class="text-title">
                <div th:text="${year} + '년 ' + ${month} + '월 ' + ${day} + '일 ' + ${weekDay}"></div>
                <input id="date-value" class="hidden" th:value="${year} + '-' + ${month} + '-' + ${day} + '-' + ${weekDay}"/>
                <div id="add-todo" class="btn">오늘의 일정 등록</div>
<!--                <div id="back-btn">></div>-->
            </div>
            <div id="detail-information">
                <div class="left">
                    <div id="weather"><h5 class="weather-txt">날씨 : <span id="weather-value">불러오는 중</span> ( <span class="temp">0</span> °C)</h5></div>
                    <div id="emotion">
                        <div class="happy" data-value="happy"></div>
                        <div class="angry" data-value="angry"></div>
                        <div class="cry" data-value="cry"></div>
                        <div class="disbelief" data-value="disbelief"></div>
                        <div class="love" data-value="love"></div>
                        <div class="tired" data-value="tired"></div>
                    </div>
                </div>
                <div id="day-list">
                    <table>
                        <tbody>
                            <th:block th:each="list : ${todoList}">
                            <tr th:value="${list.no}">
                                <th th:text="${list.time}"></th>
                                <th th:text="${list.title}"></th>
                                <th:block th:if="${list.successYn eq 'Y'}">
                                    <th><input type="checkbox" class="checkbox w-[15px] h-[15px] rounded ml-[5px]" th:value="${list.no}" checked></th>
                                </th:block>
                                <th:block th:if="${list.successYn eq 'N'}">
                                    <th><input type="checkbox" class="checkbox w-[15px] h-[15px] rounded ml-[5px]" th:value="${list.no}"></th>
                                </th:block>
                            </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-title ">
                <div>하루 정리</div>
                <button id="add-img" class="btn" >사진 등록</button>
                <input type="file" accept="image/*,video/*" id="image-value" class="hidden" />
            </div>
            <div id="content">
                <textarea id="content-value" placeholder="오늘의 하루는 잘 보내셨나요? &#13;&#10;고생하셨습니다.&#13;&#10;오늘 하루를 잘 정리하고 내일도 화이팅입니다!"></textarea>
                <div style="display: flex; align-items: center; justify-content: flex-end; height: 10%;">
                    <button id="save-btn">저장</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="components">
    <th:block th:include="common/modal/addTodo :: addTodo"></th:block>
</th:block>

<script layout:fragment="script">
    $('#back-btn').on('click', function () {
        history.back();
    });

    $('#emotion > div').on('click', function () {
        var $this = $(this);
        var currentClass = $this.attr('class');

        if (currentClass.includes('-select')) {
            var newClass = currentClass.replace('-select', '');
            $this.addClass(newClass);
            $this.removeClass(currentClass);
        } else {
            let newClass = currentClass + '-select'
            $this.addClass(newClass);
            $this.removeClass(currentClass);
        }
    });

    $('.checkbox').on('click', function () {
        var successYn = $(this).prop("checked") ? 'Y' : 'N';
        var no = $(this).val();

        let url = '/calender/targer/insert/todo/successYn';
        let contentType = 'application/x-www-form-urlencoded';
        let data = { no: no, successYn: successYn };

        CHOI.post(url, contentType, data)
            .then(function (response) {
                if(response.result === "0000") {
                    openSuccesAlert(response.value);
                    location.href = '/main';
                } else {
                    openErrorAlert(response.value);
                }
            }).catch(function (error) {
            console.error(error);
        });
    });

    $('#add-img').on('click', function () {
        $('#image-value').click();
    });

    $('#save-btn').on('click', function () {
        let splitArray = $('#date-value').val().split('-');

        let date = splitArray.slice(0, -1).join('-');
        let dayOfWeek = splitArray.slice(-1)[0];
        let weather = $('#weather-value').html();
        let temp = $('.temp').html();
        let emotions = [];
        let content = $('#content-value').val();

        $('#emotion').find('div[class*="-select"]').each(function() {
            var value = $(this).data('value');
            emotions.push(value);
        });

        let url = '/calender/diary/add';
        let contentType = 'application/x-www-form-urlencoded';
        let data = { date: date, dayOfWeek: dayOfWeek, weather: weather, temp: temp, emotions: emotions, content: content };

        CHOI.post(url, contentType, data)
        .then(function (response) {
            if(response.result === "0000") {
                openSuccesAlert(response.value);
            } else {
                openErrorAlert(response.value);
            }
        }).catch(function (error) {
            console.error(error);
        });
    });

    $('#add-todo').on('click', async function () {
        let title = 'TO-DO를 등록해보세요.'
        openAddTodo(title);
    });
</script>

<style layout:fragment="style">

</style>

</html>