<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}"
>

<th:block layout:fragment="content">
<div id="main-view">
    <div id="over-view">
        <div id="left-view">
            <div class="main">
                <div id="weather">
                    <h4 class="date"></h4>
                    <h3 class="position">날씨 계산 중</h3>
                    <h3 class="weather-ico"></h3>
                    <h3 class="temperatures"></h3>
                </div>
                <div class="targer-title target-change year">연간 목표</div>
                <div id="year-list">
                    <div class="year-list-detail">퇴사하기</div>
                    <div class="year-list-detail">좋은 공부 프로그램 합격</div>
                    <div class="year-list-detail">정보처리기사 자격증 합격</div>
                    <div class="year-list-detail">학사 학위 취득</div>
                </div>
                <button class="add-target">연간 목표 등록</button>
            </div>
        </div>
        <div id="right-view">
            <div class="title">한달 뒤 나에게 물어보자,<br> 오늘의 감정은 기억나지 않는다.</div>
            <div class="event-btn">
                <button class="add-event">이벤트 등록</button>
            </div>
            <div id="calendar"></div>
            <div class="link">
                <a class="naver-blog can" href="https://blog.naver.com/choiseungwoo98" target='_blank'><img src="/img/brand/naver.png">Blog</a>
                <a class="git-blog" href="https://choiseungwoo98.github.io/" target='_blank'><img src="/img/brand/git-pages.png">GitBlog</a>
                <a class="github" href="https://github.com/ChoiSeungWoo98" target='_blank'><img src="/img/brand/git.png">GitHub</a>
                <a class="youtube" href="https://www.youtube.com/@user-db6vt3rd1e" target='_blank'><img src="/img/brand/youtube.png">YouTube</a>
            </div>
        </div>
    </div>
</div>
</th:block>

<th:block layout:fragment="components">
    <th:block th:include="common/modal/confilm :: deleteWork"></th:block>
</th:block>

<script layout:fragment="script">
    $(document).ready(function () {
        $('.year-list-detail').on('click', function () {
            var hasCancelClass = $(this).hasClass('cancel');
            if (hasCancelClass) {
                $(this).removeClass('cancel');
            } else {
                $(this).addClass('cancel');
            }
        });

        $('.target-change').on('click', function () {
            var hasCancelClass = $(this).hasClass('month');
            if (hasCancelClass) {
                $(this).removeClass('month');
                $(this).addClass('year');
                $(this).html('월간 목표');
                $('.add-target').html('월간 목표 등록');
            } else {
                $(this).removeClass('year');
                $(this).addClass('month');
                $(this).html('연간 목표');
                $('.add-target').html('연간 목표 등록');
            }
        });

        $('.add-event').on('click', async function () {
            const shouldDelete = await openDeleteWorkConfirm('선택하신 프로젝트를 삭제하시겠습니까?', '한번 삭제하시면 다시 되돌릴 수 없습니다.<br>신중히 삭제해주세요.');
            if (!shouldDelete) return;

            let checkList = [];

            $("input[name='checkbox']").each(function () {
                if ($(this).prop("checked")) {
                    checkList.push($(this).val());
                }
            });

            if (checkList.length === 0) openWarningAlert("한 가지 이상 체크 후 시도해주세요.")
            else {
                XE.put(
                    '/xe/management/work/deleteWork',
                    JSON.stringify(checkList),
                    '',
                    'application/json'
                ).then(function (response) {
                    if (response.result === '0000') {
                        openSuccesAlert("해당 프로젝트가 삭제 되었습니다.");
                        totalSize -= checkList.length;
                        getWorkList(nowPage, viewCnt, $("#search").val());
                        return;
                    }

                    openErrorAlert("프로젝트가 삭제하지 못했습니다. 지속적인 에러 발생 시 관리자에게 문의해주세요.");
                });

            }
        });

        $('.add-target').on('click', async function () {
            const shouldDelete = await openDeleteWorkConfirm('선택하신 프로젝트를 삭제하시겠습니까?', '한번 삭제하시면 다시 되돌릴 수 없습니다.<br>신중히 삭제해주세요.');
            if (!shouldDelete) return;

            let checkList = [];

            $("input[name='checkbox']").each(function () {
                if ($(this).prop("checked")) {
                    checkList.push($(this).val());
                }
            });

            if (checkList.length === 0) openWarningAlert("한 가지 이상 체크 후 시도해주세요.")
            else {
                XE.put(
                    '/xe/management/work/deleteWork',
                    JSON.stringify(checkList),
                    '',
                    'application/json'
                ).then(function (response) {
                    if (response.result === '0000') {
                        openSuccesAlert("해당 프로젝트가 삭제 되었습니다.");
                        totalSize -= checkList.length;
                        getWorkList(nowPage, viewCnt, $("#search").val());
                        return;
                    }

                    openErrorAlert("프로젝트가 삭제하지 못했습니다. 지속적인 에러 발생 시 관리자에게 문의해주세요.");
                });

            }
        });
    });
</script>

</html>